**/__pycache__/
tests/example_files/8_T300_P1.dcd
tests/example_files/8_T300_P1_DO2P_0xlinks.dcd
tests/example_files/assert_for_process_broken_bonds.pkl
tests/example_files/tensile_test.dcd
tests/example_files/tensile_test_DO2P_0xlinks.dcd
archive/
